mixin cases(data)
    - data = data || {};
    section.cases(class = data.class role = data.role)
        .container.cases__container
            .cases__block
                h2.cases__title.wow.fadeInDown!=data.title
                .slider-buttons.cases__slider-buttons
                    .slider-buttons__button.slider-buttons__prev
                        img(src='../img/icons/icon-12.png' alt="@@")
                    .slider-buttons__button.slider-buttons__next
                        img(src='../img/icons/icon-12.png' alt="@@")
                .slider.cases__slider
                    ul.slider-nav.wow.fadeInDown
                        each cases in data.items
                            li.slider-nav__item
                                a.slider-nav__link(class = cases.class href="#" title="")
                                    .slider-nav__link-title!=cases.title
                                    .slider-nav__link-description!=cases.description
                                .slider-nav__item-background
                                    img(src = cases.image alt="@@")
                .slides-body
                    .slides-body__space-top
                    .slides-body__space-bottom
                    ul.slides.cases__slides.wow.fadeInUp
                        each slides in data.itemsSlides
                            li.slides__item(class = slides.class)
                                span.slides__name!=slides.name
                                h3.slides__main-title!=slides.title
                                h4.slides__title Задача
                                p.slides__desc!=slides.task
                                h4.slides__title Вводная:
                                p.slides__desc!=slides.introductory
                                h4.slides__title Решение:
                                p.slides__desc!=slides.decision
                                p.slides__desc!=slides.decisionMore
                                p.slides__desc!=slides.total